// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ShowActionsMenu{
    ul{
        list-style: none; 
        overflow: hidden;
    }
    li{
        float: left;
        a{
            display: inline-block;
            text-decoration: none;
            text-align: center;
            padding-rigth: 2em;
        }
    }
}
td{
    a{
        text-decoration: none;
        color: maroon;
    }
}

hr{
    color: red;
    height: 3px;
    box-shadow: 0 10px 10px -10px red inset;
    left: 0;
              
}

#NotesList {
    a{
        width: 9em;
        text-align: center;
        color: white;
        padding: 0.5em;
        text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
        -webkit-border-radius: 13.378378378378379px;
        -moz-border-radius: 13.378378378378379px;
        border-radius: 13.378378378378379px;
        background: rgb(210, 20, 20);
        background: -moz-linear-gradient(42deg, rgb(210, 20, 20) 12%, rgb(0, 0, 0) 50%);
        background: -webkit-linear-gradient(42deg, rgb(210, 20, 20) 12%, rgb(0, 0, 0) 50%);
        background: -o-linear-gradient(42deg, rgb(210, 20, 20) 12%, rgb(0, 0, 0) 50%);
        background: -ms-linear-gradient(42deg, rgb(210, 20, 20) 12%, rgb(0, 0, 0) 50%);
        background: linear-gradient(312deg, rgb(210, 20, 20) 12%, rgb(0, 0, 0) 50%);
        -webkit-box-shadow: 14px 16px 9px rgba(0, 0, 0, 0.85);
        -moz-box-shadow:    14px 16px 9px rgba(0, 0, 0, 0.85);
        box-shadow:         14px 16px 9px rgba(0, 0, 0, 0.85);

    }
    .NoteShow{
        background: -moz-linear-gradient(325deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 100%); /* ff3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(18%, rgba(0,0,0,1)), color-stop(100%, rgba(255,0,0,1))); /* safari4+,chrome */
        background: -webkit-linear-gradient(325deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 100%); /* safari5.1+,chrome10+ */
        background: -o-linear-gradient(325deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 100%); /* opera 11.10+ */
        background: -ms-linear-gradient(325deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 100%); /* ie10+ */
        background: linear-gradient(125deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 18%, rgba(255,0,0,1) 100%); /* w3c */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ff0000',GradientType=1 ); /* ie6-9 */

        border-radius: 18px 0px 18px 0px;

        color: white;
        width: 80%;
        padding-left: 1em;
        padding-bottom: 1em;
        padding-top: 1em;
        margin-bottom: 1em;
    }
}